:root {
    --grayC4: #C4C4C4;
    --grayE5: #E5E5E5;
    --grayFA: #FAFAFA;
    --black26: #262626;
    --cyan: #34ABE0;
    --white: #FFF;
    --red: #DF212D;

    --menuBG: #F3F4F9;
    --menuWidth: 198px;
    --menuVisiblePart: 18px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Open Sans, sans-serif;
    background-color: var(--grayFA);
    padding-bottom: 20px;
}

ul, li, h1 {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

button {
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    padding: 0 22px 0 32px;
}

.btn_transparent {
    border: none;
    background-color: transparent;
}

.header {
    padding: 38px 0 26px 0;
    background-color: var(--white);
    border-bottom: 1px solid var(--grayE5);
    transition-property: padding-left;
    transition-duration: .3s;
    z-index: 1;
}

.header_minified {
    padding: 27px 0 27px 34px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header_minified .header__title {
    display: none;
}

.header_minified .search-block__btn {
    display: none;
}

.header_minified .search-block__input {
    padding-left: 16px;
    padding-right: 16px;
}

.header__title {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

.search-block {
    position: relative;
}

.search-block__btn {
    padding: 8px;
    position: absolute;
    left: 8px;
    top: 8px;
}

.search-block__input {
    padding: 17px 21px 17px 43px;
    width: 100%;
    font-size: 14px;
    border: 1px solid var(--grayC4);
    border-radius: 50px;
}

.menu-plate {
    background-color: var(--menuBG);
    min-width: 192px;
    z-index: 2;
    transition-property: left, right;
    transition-duration: .3s;
    position: fixed;
    left: calc((var(--menuWidth) - var(--menuVisiblePart)) * -1);
    top: 0;
    bottom: 0;
}

.menu-plate_opened {
    left: 0;
}

.menu-btn {
    position: absolute;
    right: -47px;
}

.menu-btn__background {
    fill: var(--menuBG);
}

.menu-btn__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    cursor: pointer;
    position: absolute;
    top: 28px;
    right: 6px;
}

.menu-btn__btn > span,
.menu-btn__btn > span::after,
.menu-btn__btn > span::before {
    display: block;
    width: 26px;
    height: 2px;
    background-color: var(--black26);
    border-radius: 50px;
    position: absolute;
}

.menu-btn__btn > span::before {
    content: '';
    top: -8px;
}

.menu-btn__btn > span::after {
    content: '';
    top: 8px;
}

.menu-container {
    padding-top: 40px;
    font-weight: bold;
}

/*todo проверить шрифт*/
.logo {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.logo__img {
    width: 24px;
    height: 24px;
}

.logo__title {
    margin-left: 5px;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    line-height: 21px;
}

.menu-container__menu {
    margin-top: 74px;
}

.menu__item {
    padding: 25px 0;
}

.menu__link {
    display: flex;
    align-items: center;
    padding: 0 20px 0 20px;
}

.menu__link_selected {
    color: var(--cyan);
    border-left: 2px solid var(--cyan);
}

.menu__link_selected > svg > * {
    stroke: var(--cyan);
}

.menu__icon {
    margin-right: 12px;
}

.coupon-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*todo подключить шрифт*/
.coupon {
    padding: 16px 20px;
    margin: 14px 0;
    width: 268px;
    font-size: 12px;
    display: block;
    min-height: 130px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.coupon_highlighted {
    border: 1px solid var(--red);
}

.coupon__header {
    line-height: 16px;
}

.coupon__title {
    letter-spacing: 0.1em;
    font-weight: bold;
    text-transform: uppercase;
}

.coupon__subtitle,
.coupon__type {
    opacity: .5;
}

.coupon__body {
    margin-top: 25px;
}

.coupon__content {
    color: var(--red);
    font-weight: bold;
    font-size: 28px;
    line-height: 24px;
}

.coupon__type {
    line-height: 16px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}

.coupon_with-bg {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
}

.cake {
    background-image: url("../img/cake.png");
}

@media all and (max-width: 767px) {
    .menu__icon {
        display: none;
    }
}

@media all and (min-width: 768px) {
    .container {
        padding: 0 26px 0 125px;
    }

    .title {
        font-size: 28px;
        line-height: 38px;
    }

    .header_minified {
        padding-left: 24px;
    }

    .search-block__input {
        font-size: 18px;
        padding: 15px 21px 15px 43px;
    }

    .menu-plate {
        min-width: 104px;
    }

    .menu__link-text {
        display: none;
    }

    .menu__link {
        padding-left: 42px;
    }

    .menu-plate {
        left: 0;
    }

    .logo {
        padding-left: 40px;
    }

    .logo__title {
        display: none;
    }

    .menu-plate_opened {
        width: 246px;
    }

    .menu-container__menu {
        margin-top: 35px;
    }

    .menu-plate_opened .menu__link-text,
    .menu-plate_opened .logo__title {
        display: inline;
    }

    .menu-plate_opened .menu__icon {
        margin: 0 12px 0 0;
    }

    .coupon-list {
        padding-top: 19px;
    }

    .coupon {
        width: 296px;
        margin: 10px 0;
    }

    .coupon__subtitle,
    .coupon__title {
        font-size: 14px;
        line-height: 28px;
    }

    .coupon__body {
        margin-top: 10px;
    }

    .coupon__content {
        font-size: 36px;
        margin-bottom: 7px;
    }

    .coupon__type {
        font-size: 16px;
    }
}

@media all and (min-width: 1440px) {
    .container {
        padding: 0 60px 0 292px;
    }

    .header {
        padding: 38px 0 39px 0;
    }

    .header__title {
        margin-bottom: 33px;
    }

    .coupon {
        width: 347px;
    }

    .coupon__subtitle,
    .coupon__title {
        font-size: 16px;
        line-height: 28px;
    }

    .header__title {
        display: block;
    }

    .menu-btn {
        display: none;
    }

    .menu-plate {
        width: 240px;
    }

    .menu__link-text {
        display: inline;
    }

    .logo__img {
        width: 50px;
        height: 50px;
    }

    .logo__title {
        display: inline;
        margin-left: 10px;
        font-size: 16px;
    }

    .coupon-list {
        padding-top: 26px;
    }
}